@model pizzashop_repository.ViewModels.EditUserViewModel

<head>
    <link rel="stylesheet" href="~/css/usersfield.css">
</head>


<div class=" d-flex mt-2 p-3 justify-content-between ">
    <div class="h2 blue-color"><strong>Edit User</strong></div>
    <a  class="back-btn btn cancel-btn-color" asp-action="UsersList" asp-controller="Users">
        <div class="blue-color"> &lt Back</div>
    </a>
</div>

<div class="bg-white user-box ms-4 me-4 p-3 mt-2">
    <form method="post">
        <div class="">
            <div class="row">
                <div class="col-lg-6 col-md-6 mt-3 ">
                    <input type="text" class="form-control" asp-for="Firstname" placeholder="First Name">
                    <span class="text-danger" asp-validation-for="Firstname"></span>
                </div>
                <div class="col-lg-6 col-md-6 mt-3 ">
                    <input type="text" class="form-control" asp-for="Lastname" placeholder="Last Name">
                    <span class="text-danger" asp-validation-for="Lastname"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 mt-3 ">
                    <input type="text" class="form-control" asp-for="Username" placeholder="User Name">
                    <span class="text-danger" asp-validation-for="Username"></span>
                </div>
                <div class="col-lg-6 col-md-6 mt-3 ">
                    <div class="form-floating">
                        <select class="form-select" asp-for="RoleId"
                            asp-items="@(new SelectList(ViewBag.Roles, "Id", "Rolename"))">
                            <option value="">Select Role</option>
                        </select>
                        <span class="text-danger" asp-validation-for="RoleId"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 mt-3 ">
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="col-lg-6 col-md-6 mt-3 ">
                    <input type="text" class="form-control" asp-for="Status" placeholder="status">
    
                </div>
            </div>
            <div class="row">
                <div class="col mt-3">
                    <input type="file" id="FileInput" style="display: none;">
                    <button class="w-100 btn-upload" onclick="OpenFile()">
                        <div class="upload-icon">
                            <img class="dashboard-icon" src="~/images/icons/cloud-arrow-up.svg" alt="">

                        </div>
                        Browse files
                    </button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select dropdown" asp-for="Country" id="Country">
                            <option>@Model.Country</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating dropdown">
                         <select class="form-select" asp-for="State" id="State">
                            <option >@Model.State</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating dropdown">
                        <select class="form-select" asp-for="City" id="City">
                            <option >@Model.City</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <input type="text" class="form-control" asp-for="Zipcode" placeholder="Zipcode">
                    <span class="text-danger" asp-validation-for="Zipcode"></span>
                </div>
                <div class="col">
                    <input type="text" class="form-control" asp-for="Address" placeholder="Address">
                    <span class="text-danger" asp-validation-for="Address"></span>
                </div>
                <div class="col">
                    <input type="text" class="form-control" asp-for="Phone" placeholder="Phone">
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
            </div>
          
            <div class="mt-3 mb-2">
                <button type="submit" class="btn navbar-color text-white">Update User</button>
                <button type="button" class="btn cancel-btn-color ms-1">Cancel</button>
            </div>
        </div>
    </form>
</div>

<script>
    function OpenFile() {

        const FileInput = document.getElementById("FileInput");
        FileInput.click();
    }

     $(document).ready(function () {
        console.log("jQuery is working!");

        // Fetch and populate countries on page load
        $.getJSON('/GetData/GetCountries', function (data) {
            $("#Country").html('<option selected>@(Model.Country)</option>');
            $.each(data, function (index, country) {
                $("#Country").append(`<option value="${country.countryId}">${country.countryName}</option>`);
            });
        });

        // Fetch states when a country is selected
        $("#Country").change(function () {
            debugger
            var countryId = $(this).val();
            $("#State").html('<option value="">Select State</option>').prop("disabled", true);
            $("#City").html('<option value="">Select City</option>').prop("disabled", true);

            if (countryId) {
                $.getJSON(`/GetData/GetStates?countryId=${countryId}`, function (data) {
                    $("#State").prop("disabled", false);
                    $.each(data, function (index, state) {
                        $("#State").append(`<option value="${state.stateId}">${state.stateName}</option>`);
                    });
                });
            }
        });

        // Fetch cities when a state is selected
        $("#State").change(function () {
            var stateId = $(this).val();
            $("#City").html('<option value="">Select City</option>').prop("disabled", true);

            if (stateId) {
                $.getJSON(`/GetData/GetCities?stateId=${stateId}`, function (data) {
                    $("#City").prop("disabled", false);
                    $.each(data, function (index, city) {
                        $("#City").append(`<option value="${city.cityId}">${city.cityName}</option>`);
                    });
                });
            }
        });
    });
</script>

